.subtask-list {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 400px;
	padding: 15px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	color: aqua;
}