.task-item {
	height: 37px;
	min-width: 280px;
	padding: 10px;
	margin-bottom: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.task-item:hover {
	opacity: 0.8;
}

.task-item-button {
	opacity: 0.8;
}

.task-item-button:hover {
	opacity: 1;
}

.hidden {
	display: none !important;
}